.navbar {
  display: flex;
  flex-direction: row;
  background-color: #232323;
  color: white;
  font-weight: 500;
  min-width: 100%;
  justify-content: space-around;
  place-items: center;
  margin-bottom: 2rem;
}
.navbar p {
  margin: 0;
  font-size: 11pt;
  cursor: pointer;
}
.navbar h1 {
  font-size: 40pt;
  font-weight: 700;
}
.navbar select {
  appearance: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 11pt;
  cursor: pointer;
}
.navbar select:focus {
  /* appearance: none; */
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 11pt;
  outline: none;
}
.navbar select option {
  color: black;
  margin: 1rem;
  padding: 50px;
  line-height: 2;
  cursor: pointer;
}
